<div class="actions-buttons">
  <label>Hola, Agustin</label>
  <button class="btn">
    <mat-icon class="icon" fontSet="material-icons-outlined">account_balance_wallet</mat-icon>
  </button>
  <button class="btn">
    <span class="number-receipt">0</span>
    <img alt="recibos" src="../../../assets/images/receipt-svgrepo-com.svg">
  </button>
  <!-- <button class="btn">
    <mat-icon class="icon" fontSet="material-icons-outlined">release_alert</mat-icon>
  </button> -->
  <button class="btn">
    <span class="number-cart">0</span>
    <img alt="carrito" src="../../../assets/images/cart-svgrepo-com.svg">
  </button>
</div>
