<div class="actions-buttons">
  <div class="container-user">
    <button class="btn">
      <mat-icon class="icon" fontSet="material-icons-outlined">person</mat-icon>
    </button>
    <div class="container-labels">
      <label class="label-bienvenido">Bienvenido</label>
      <div class="container-labels-sesion">
        <label class="label-sesion">Iniciar Sesi&oacute;n</label>
        <label class="label-separador"> / </label>
        <label class="label-register">Registrarse</label>
      </div>
    </div>
  </div>
</div>
