<div class="nav">
  <div class="nav-primary">
    <div class="nav-left">
      <app-logo></app-logo>
    </div>

    <div class="nav-fill">
      <app-search-products></app-search-products>
    </div>

    <div class="nav-right">
      <app-actions-buttons></app-actions-buttons>
    </div>
  </div>

  <div class="nav-secondary">
    <div class="nav-left">
      <button class="btn">
        <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
      </button>
    </div>

    <div class="nav-fill">
      <div class="actions-buttons">
      </div>
    </div>

    <div class="nav-right"></div>
  </div>
</div>
<div class="router">
  <router-outlet></router-outlet>
</div>
