.nav {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
}

.nav-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  //padding: 0.5em;
  height: 60px;
  background-color: #2f4858;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 39px;
  background-color: #006476;
  position: fixed;
  top: 60px;
  z-index: 1000;
  width: 100%;
}

.nav-left {
  float: none;
  width: auto;
}

.nav-fill {
  float: none;
  width: auto;
  flex: 1 1 auto;
}

.nav-right {
  float: none;
  width: auto;
}

router-outlet {
  padding: 1em;
  width: 100%;
}

.router {
  top: 99px !important;
  position: relative !important;
}
